@model HealthSystemManager.Domain.DTO.PatientDTO

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Model.name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Identity Document: @Model.identityDocument</p>
            <p>Health Insurance: @Model.healthInsurance</p>
            <p>Birth Date: @Model.birthDate</p>
            <p>Phone: @Model.phone</p>
            <p>Address: @Model.address</p>
            <p>City: @Model.city</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>