@model IEnumerable<HealthSystemManager.Domain.DTO.PatientDTO>

<h4>Patients</h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.name)</th>            
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>
                    <a class="btn btn-outline-success" onclick="detailsPatient(@item.id)">Details</a>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a class="btn btn-outline-danger" onclick="deletePat(@item.id)">Delete</a>
                    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="MedicalRecord" asp-route-id="@item.id">Medical Records</a>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="modal" tabindex="-1"></div>

@section scripts {
    <script>
        const deletePat = (id) => {
            $('#modal').load(`@Url.Action("Delete")/${id}`, () => {
                $('#modal').modal('show');
            });
        }

        const detailsPatient = (id) => {
            $('#modal').load(`@Url.Action("Details")/${id}`, () => {
                $('#modal').modal('show');
            })
        }
    </script>
}