@model HealthSystemManager.Domain.DTO.MedicalRecordDTO

<h1>Records</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.diagnostic)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.medicalAppointment)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.medication)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.exam)</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>@Html.DisplayFor(model => model.diagnostic)</td>
            <td>@Html.DisplayFor(model => model.medicalAppointment)</td>
            <td>@Html.DisplayFor(model => model.medication)</td>
            <td>@Html.DisplayFor(model => model.exam)</td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Create" asp-route-id="@Model.id" >Add new appointment</a>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.id">Edit</a>
            </td>
            <td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.id">Delete</a></td>
        </tr>

    </tbody>
</table>
